.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    font-size: var(--fontSize-5);
    line-height: var(--lineHeight-5);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: var(--spacing-2) var(--spacing-1);
}

.footer section {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

.common {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-2);
}

.common div {
    display: flex;
    gap: var(--spacing-2);
}

.footer p {
    margin-bottom: 0;
}

@media (max-width: 800px) { 
    .footer {
        text-align: center;
        padding: var(--spacing-2);
    }

    .common {
        flex-direction: column-reverse;
    }

    .common div {
        justify-content: center;
    }
}

@media (max-width: 414px) { 
    #common div {
        flex-direction: column-reverse;
    }
}